

p {
    font-family: fantasy;
    color: brown;
}

h1 {
    color:brown;
    font-family: fantasy;
    font-weight: 900;
    background-color: aliceblue;
}

.welcome {
    font-size: 22px;
    font-family: fantasy;
    color: brown;
}

.list {
    font-family: fantasy;
    background-color: lightgray;
    
}

h3 {
    font-family: fantasy;
    font-weight: bold;
}

h2 {
    font-family: fantasy;
}

a {
    font-family: fantasy;
}